.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.article{
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;

    &__title{
        margin-left: 5%;
        padding: 0 0 0 2%;
        border-left: solid $darkBlue 3px;
        color: $font;
        font-weight: 700;
        align-self: flex-start;
    }

    &__text{
        padding: 5% 0 5% 5%;
        width: 95%;
        color: $darkFont;
        font-weight: 500;
        align-self: flex-start;

        &--calc{
            text-align: center;
            color: $font;
            align-self: center;
        }
        
        &-span{
            color: $darkBlue;
            font-weight: 700;
        }
    }

    &__img{
        margin: 5% 0 5% 0;
        width: 100%;
    }
}

@media (min-width: 800px)and(max-width: 1150px){
    .main{
        margin: auto;
        width: 67%;
        padding-top: 150px;
    }
}

@media (min-width: 1150px){
    .main{
        margin: auto;
        width: 45%;
        padding-top: 150px;
    }

    .article{
        
        &__title{
            font-size: 25px;
        }

        &__text{
            font-size: 20px;

            &--calc{
                font-size: 20px;
            }
        }
    }
}
