@keyframes menuIn {
    0%{
        top: -100%;
        
    }

    100%{
        top: 0%;
    }
}

@keyframes menuOut{
    0%{
        top: 0%;
        display: flex;
    }

    100%{
        top:-100%;
        display: flex;
    }
}

@keyframes iconSpin{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(-1000deg);
    }
}