@keyframes menuIn {
    0%{
        top: -100%;
        
    }

    100%{
        top: 0%;
    }
}

@keyframes menuOut{
    0%{
        top: 0%;
        display: flex;
    }

    100%{
        top:-100%;
        display: flex;
    }
}

@keyframes iconSpin{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(-1000deg);
    }
}

@keyframes sliderIn{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        display: none;
    }
}

@keyframes sliderOut{
    0%{
        opacity: 0;
        display: 0;
    }

    100%{
        opacity: 1;
        display: flex;
    }
}