@import "./variables/fontFamily";
@import "./variables/colors";
@import "./keyframes/keyframes";
@import "./components/header";
@import "./components/indexMain";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:'Raleway', sans-serif;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $bgcColor;
    overflow: hidden;
    background-image: url(../resources/SVG/bgc.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 375px;
}

.display{
    display: flex;
    animation: menuIn 1s;
}

.hide{
    display: flex;
    animation: menuOut 1s;
}

@media (min-width: 800px)and(max-width: 1100px){
    .container{
        background-size: 500px;
    }
}

@media (min-width: 1100px){
    .container{
        background-size: 850px;
    }
}


