@import "./variables/fontFamily";
@import "./variables/colors";
@import "./keyframes/keyframes";
@import "./components/header";
@import "./components/hideDisplay";

//main
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:'Raleway', sans-serif;
}

.container{
    background-color: $bgcColor;
    min-height: 100vh;
    padding-bottom: 20%;
}

.article{
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;

    &__title{
        margin-left: 5%;
        padding: 0 0 0 2%;
        border-left: solid $darkBlue 3px;
        color: $font;
        font-weight: 700;
    }

    &__text{
        padding: 5% 0 5% 5%;
        width: 95%;
        color: $darkFont;
        font-weight: 500;
        
        &-span{
            color: $darkBlue;
            font-weight: 700;
        }
    }
}

.button-left, .button-right{
        width: 40%;
        padding: 2%;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        color: $lightBlue;
        border: solid $lightBlue 1px;
        background-color: transparent;
        outline: none;
        border-radius: 5px;
        transition: cubic-bezier(.13,.94,1,.79) .1s;

        &:hover{
            background-color: $lightBlue;
            color: $bgcColor;
            font-weight: 600;
        }
}

.button-left{
    position: absolute;
    left: 5%;
    bottom: 10px;
}

.button-right{
    position: absolute;
    right: 5%;
    bottom: 10px;
}
//info

.info{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    justify-content: space-around;
}

.label{
    width: 50%;
    display: flex;
    justify-content: center;
    color: $font;
    
}

.select{
    background-color: transparent;
    outline: none;
    border: none;
    width: 25%;
    margin-left: 5%;
    color: $font;
    text-align: center;
}