@import "./variables/fontFamily";
@import "./variables/colors";
@import "./keyframes/keyframes";
@import "./components/header";
@import "./components/hideDisplay";
@import "./components/secondArticle";

//main
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:'Raleway', sans-serif;
}

.container{
    background-color: $bgcColor;
    min-height: 100vh;
}

.button-left, .button-right{
        width: 40%;
        padding: 2%;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        color: $lightBlue;
        border: solid $lightBlue 1px;
        background-color: transparent;
        outline: none;
        border-radius: 5px;
        transition: cubic-bezier(.13,.94,1,.79) .1s;

        &:hover{
            background-color: $lightBlue;
            color: $bgcColor;
            font-weight: 600;
        }
}

.button-left{
    display: none;
}

.buttons{
    padding: 5% 0 5% 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.button{
    display: block;
    width: 70%;
    padding: 2%;
    margin: 0;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    color: $lightBlue;
    border: solid $lightBlue 1px;
    outline: none;
    border-radius: 5px;
    transition: cubic-bezier(.13,.94,1,.79) .1s;

    &:hover{
        background-color: $lightBlue;
        color: $bgcColor;
        font-weight: 600;
    }
}

.totient, .public, .publicEncry, .privKey, .decryption{
    display: none;
}

.link{
    color: $darkBlue;
}
//info

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    justify-content: space-around;
}

.label{
    width: 50%;
    display: flex;
    justify-content: center;
    color: $font;
    
}

.select{
    background-color: transparent;
    outline: none;
    border: none;
    width: 25%;
    margin-left: 5%;
    color: $font;
    text-align: center;
}

//decryption
.decryptionArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
