@import "./variables/fontFamily";
@import "./variables/colors";
@import "./keyframes/keyframes";
@import "./components/header";
@import "./components/hideDisplay";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:'Raleway', sans-serif;
}

.container{
    background-color: $bgcColor;
    height: 100%;
}

.main{
    padding: 25% 5% 0 5%;
}

.article, .articleWP{
    display: flex;
    flex-direction: column;
    padding-bottom: 15%;

    &__title{
        margin-left: 5%;
        padding: 0 0 0 2%;
        border-left: solid $darkBlue 3px;
        color: $font;
        font-weight: 700;
    }

    &__text{
        padding: 5% 0 5% 5%;
        width: 95%;
        color: $darkFont;
        font-weight: 500;

        &--special{
            padding: 5% 0 5% 5%;
        width: 95%;
        color: $darkFont;
        font-weight: 500;
        }
        
        &-span{
            color: $darkBlue;
            font-weight: 700;
        }
    }

    &__img{
        width: 80vw;
        margin: auto;
        border-radius: 5px;

        &--special{
            width: 80vw;
            margin: auto;
        }
    }
}

@media (min-width: 800px)and(max-width: 1150px){
    .main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "first first"
        "second second"
        "third fourth"
        ;
        padding-top: 15%;
    }

    .first{
        grid-area: first;
    }

    .second{
        grid-area: second;
    }

    .third{
        grid-area: third;
        width: 50%;
        display: flex;
    }

    .fourth{
        grid-area: fourth;
        width: 50%;
        display: flex;
    }

    .articleWP{
        width: 90%;
    }

    .article{
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2.5rem 60%;
        grid-template-areas: 
        "title img"
        "text img";
        padding-bottom: 5%;

        &__title{
            grid-area: title;
            padding: 0 0 0 2%;
            display: flex;
            align-items: center;
            font-size: 2rem;
        }

        &__text{
            width: 90%;
                grid-area: text;
                padding: 0;
                font-size: 1.1rem;
                align-self: start;
                justify-self: center;
                padding-top: 7%;
                color: $darkFont;
                font-weight: 500;
        }

        &__img{
            grid-area: img;
            width: 45vw;
            place-self: center;
            margin: 0;
            
            &--special{
                width: 35vw;
                grid-area: img;
                place-self: center;
                border-radius: 5px;
                margin: 0;
            }
        }

    }
}

@media (min-width: 1150px){
    .main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "first first"
        "second second"
        "third fourth"
        ;
        padding-top: 10%;
    }

    .first{
        grid-area: first;
    }

    .second{
        grid-area: second;
    }

    .third{
        grid-area: third;
        width: 50%;
        display: flex;
    }

    .fourth{
        grid-area: fourth;
        width: 50%;
        display: flex;
    }

    .articleWP{
        height: 90%;
        width: 60%;
        place-self: center;

        &__title{
            padding: 0 0 0 2%;
            display: flex;
            align-items: center;
            font-size: 3rem;
        }

        &__text{
                width: 90%;
                grid-area: text;
                padding: 0;
                font-size: 1.5rem;
                align-self: start;
                justify-self: center;
                padding-top: 7%;
                color: $darkFont;
                font-weight: 500;
        }
    }

    .article{
        place-self: center;
        height: 90%;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 3.5rem 50%;
        grid-template-areas: 
        "title img"
        "text img";
        padding-bottom: 0%;

        &__title{
            grid-area: title;
            padding: 0 0 0 2%;
            display: flex;
            align-items: center;
            font-size: 3rem;
        }

        &__text{
            width: 90%;
                grid-area: text;
                padding: 0;
                font-size: 1.5rem;
                align-self: start;
                justify-self: center;
                padding-top: 7%;
                color: $darkFont;
                font-weight: 500;
        }

        &__img{
            grid-area: img;
            width: 30vw;
            place-self: center;
            margin: 0;
            
            &--special{
                width: 25vw;
                grid-area: img;
                place-self: center;
                border-radius: 5px;
                margin: 0;
            }
        }

    }
}