@import "./variables/fontFamily";
@import "./variables/colors";
@import "./keyframes/keyframes";
@import "./components/header";
@import "./components/hideDisplay";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:'Raleway', sans-serif;
}

.container{
    background-color: $bgcColor;
    height: 100%;
    padding-bottom: 5%;
}

.main{
    padding: 25% 5% 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img--first, .img--second{
        width: 80vw;
        margin: auto;
        border-radius: 5px;
        padding-bottom: 10%;
}

.article{
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;

    &__title{
        margin-left: 5%;
        padding: 0 0 0 2%;
        border-left: solid $darkBlue 3px;
        color: $font;
        font-weight: 700;
    }

    &__text{
        padding: 5% 0 5% 5%;
        width: 95%;
        color: $darkFont;
        font-weight: 500;
        
        &-span{
            color: $darkBlue;
            font-weight: 700;
        }
    }
}

.button{
        display: block;
        width: 70%;
        padding: 2%;
        margin: 0;
        font-size: 15px;
        text-align: center;
        text-decoration: none;
        color: $lightBlue;
        border: solid $lightBlue 1px;
        border-radius: 5px;
        transition: cubic-bezier(.13,.94,1,.79) .1s;

        &:hover{
            background-color: $lightBlue;
            color: $bgcColor;
            font-weight: 600;
        }
}


@media (min-width: 800px)and(max-width: 1150px){
    .main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr) 5%;
        grid-template-areas: 
        "first firstImg"
        "second secondImg"
        "third fourth"
        "button button"
        ;
        padding-top: 15%;
    }

    .first{
        grid-area: first;
    }

    .second{
        grid-area: second;
    }

    .third{
        grid-area: third;
    }

    .fourth{
        grid-area: fourth;
    }

    .img--first{
        grid-area: firstImg;
        width: 45vw;
        place-self: center;
        margin: 0;
    }

    .img--second{
        grid-area: secondImg;
        width: 35vw;
        place-self: center;
        border-radius: 5px;
        margin: 0;
    }

    .article{
        padding-bottom: 5%;
        place-self: center;

        &__title{
            padding: 0 0 0 2%;
            display: flex;
            align-items: center;
            font-size: 2rem;
        }

        &__text{
                width: 90%;
                padding: 0;
                font-size: 1.1rem;
                padding-top: 7%;
                color: $darkFont;
                font-weight: 500;
        }
    }

    .button{
        grid-area: button;
        place-self: center;
        width: 40%;
        margin: 0;
    }

}

@media (min-width: 1150px){
    .main{
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr) 5%;
        grid-template-areas: 
        "first firstImg"
        "second secondImg"
        "third fourth"
        "button button"
        ;
        padding-top: 10%;
        row-gap: 1%;
    }

    .first{
        grid-area: first;
    }

    .second{
        grid-area: second;
    }

    .third{
        grid-area: third;
    }

    .fourth{
        grid-area: fourth;
    }

    .img--first{
        grid-area: firstImg;
        width: 30vw;
        place-self: center;
        margin: 0;
        padding-bottom: 0;
    }

    .img--second{
        grid-area: secondImg;
        width: 20vw;
        place-self: center;
        border-radius: 5px;
        margin: 0;
        padding-bottom: 0;
    }

    .article{
        place-self: center;
        padding-bottom: 0%;
        width: 75%;

        &__title{
            padding: 0 0 0 2%;
            display: flex;
            align-items: center;
            font-size: 2rem;
        }

        &__text{
                width: 90%;
                padding: 0;
                font-size: 1.1rem;
                padding-top: 7%;
                color: $darkFont;
                font-weight: 500;
        }
    }

    .button{
        grid-area: button;
        place-self: center;
        width: 40%;
        padding:1%;
    }
}