@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@keyframes menuIn {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}

@keyframes menuOut {
  0% {
    top: 0%;
    display: flex;
  }
  100% {
    top: -100%;
    display: flex;
  }
}

@keyframes iconSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1000deg);
  }
}

@keyframes sliderIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes sliderOut {
  0% {
    opacity: 0;
    display: 0;
  }
  100% {
    opacity: 1;
    display: flex;
  }
}

.header {
  width: 100%;
  height: 50vh;
  z-index: 1000;
  position: absolute;
  top: 0px;
}

.header__line {
  width: 96%;
  height: 2px;
  background-color: #5f85db;
  position: absolute;
  top: 50px;
  left: 2%;
}

.header__button {
  position: absolute;
  top: 1%;
  right: 5%;
  z-index: 100;
  font-size: 25px;
  outline: none;
  background-color: transparent;
  border: none;
}

.header__button:active {
  animation: iconSpin 3s;
}

.nav {
  width: 100%;
  height: 100%;
  padding: 5%;
  position: absolute;
  top: 0px;
  background-color: #26282b;
  display: none;
  align-items: center;
  animation: menuOut 3s;
  z-index: 99;
}

.list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.list__element-link {
  text-decoration: none;
  font-size: 15px;
  color: #e0e0e0;
}

.list__element-link:hover {
  padding-bottom: 2%;
  border-bottom: solid #5f85db 2px;
}

@media (min-width: 800px) and (max-width: 1100px) {
  .header__line {
    top: 75px;
  }
  .header__button {
    display: none;
  }
  .nav {
    height: 75px;
    padding: 1%;
    display: flex;
    justify-content: flex-end;
    animation: none;
    background-color: transparent;
  }
  .list {
    flex-direction: row;
    width: 650px;
  }
  .list__element-link {
    font-size: 12px;
  }
}

@media (min-width: 1100px) {
  .header__line {
    top: 75px;
  }
  .header__button {
    display: none;
  }
  .nav {
    height: 75px;
    padding: 1%;
    display: flex;
    justify-content: flex-end;
    animation: none;
    background-color: transparent;
  }
  .list {
    flex-direction: row;
    width: 850px;
  }
  .list__element-link {
    font-size: 15px;
  }
}

.display {
  display: flex;
  animation: menuIn 1s;
}

.hide {
  display: flex;
  animation: menuOut 1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #353941;
  overflow: hidden;
  background-image: url(../resources/SVG/bgc.svg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 375px;
}

.main {
  display: flex;
  justify-content: center;
  padding: 0 5% 30% 5%;
  z-index: 10;
}

.article {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.article__title {
  font-size: 30px;
  font-weight: 500;
  color: #e0e0e0;
  padding-bottom: 3%;
  overflow: hidden;
}

.article__title-span {
  color: #90b8f8;
}

.article__text {
  color: #e0e0e0;
  justify-self: flex-end;
  padding-bottom: 10%;
}

.article__button {
  text-decoration: none;
  color: #90b8f8;
  font-size: 20px;
  border: solid #90b8f8 1px;
  padding: 2%;
  border-radius: 5px;
  display: block;
  position: relative;
  transition: cubic-bezier(0.13, 0.94, 1, 0.79) 0.1s;
}

.article__button:hover {
  background-color: #90b8f8;
  color: #353941;
  font-weight: 600;
}

@media (min-width: 800px) and (max-width: 1100px) {
  .container {
    background-size: 500px;
  }
  .main {
    justify-content: flex-start;
    padding: 0 5% 0 5%;
  }
  .article__title {
    font-size: 45px;
  }
  .article__text {
    font-size: 20px;
  }
  .article__button {
    font-size: 25px;
  }
}

@media (min-width: 1100px) {
  .container {
    background-size: 850px;
  }
  .main {
    justify-content: flex-start;
    padding: 0 5% 0 15%;
  }
  .article__title {
    font-size: 60px;
  }
  .article__text {
    font-size: 25px;
  }
  .article__button {
    font-size: 25px;
  }
}
/*# sourceMappingURL=main.css.map */